<div class="side-panel-container">
    <div class="side-panel" >
        <!-- XY jogging control panel -->
        <div id="side-control-jog-xy" class="xy-panel">
            <div>
                <button class="btn box pull-left" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendHomeCommand(['x']) }"><span class="button-text">X</span></button>
                <button class="btn box pull-left" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('y',1) }"><i class="fa fa-arrow-up"></i></button>
                <button class="btn box pull-left" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendHomeCommand(['y']) }"><span class="button-text">Y</span></button>
            </div>
            <div>
                <button class="btn box pull-left" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('x',-1) }"><i class="fa fa-arrow-left"></i></button>
                <button class="btn box pull-left" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendCenterCommand() }"><i class="fa fa-circle-o"></i></button>
                <button class="btn box pull-left" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('x',1) }"><i class="fa fa-arrow-right"></i></button>
            </div>
            <div>
                <button class="btn box pull-left" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendHomeCommand(['x','y','z']) }"><i class="fa fa-home"></i></button>
                <button class="btn box pull-left" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('y',-1) }"><i class="fa fa-arrow-down"></i></button>
                <button class="btn box pull-left" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendHomeCommand(['z']) }"><span class="button-text">Z</span></button>
            </div>
        </div>
        <!-- Z jogging control panel -->
        <div id="control-jog-z" class="z-panel">
            <div>
                <button id="control-zinc" class="btn box" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('z',1) }"><i class="fa fa-arrow-up"></i></button>
            </div>
            <div>
                <button id="control-zhome" class="btn box" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendCenterCommand() }"><i class="fa fa-circle-o"></i></button>
            </div>
            <div>
                <button id="control-zdec" class="btn box" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendJogCommand('z',-1) }"><i class="fa fa-arrow-down"></i></button>
            </div>
        </div>
    </div>
    <!--distances-->
    <div class="distance-panel" >
        <div class="distance">
            <div class="btn-group" data-toggle="buttons-radio" id="jog_distance1">
                <!-- ko foreach: sideDistances1 -->
                <button type="button" class="btn distance" data-bind="enable: $root.controlState.isOperational() && !$root.controlState.isPrinting() && !$root.controlState.isPaused() && $root.loginState.isUser(), text: $data, click: function() { $root.sideDistance($data) }, css: { active: $root.sideDistance() === $data }, attr: { id: 'control-distance' + $root.stripDistanceDecimal($data) }"></button>
                <!-- /ko -->
            </div>
            <div class="btn-group" data-toggle="buttons-radio" id="jog_distance2">
                <!-- ko foreach: sideDistances2 -->
                <button type="button" class="btn distance" data-bind="enable: $root.controlState.isOperational() && !$root.controlState.isPrinting() && !$root.controlState.isPaused() && $root.loginState.isUser(), text: $data, click: function() { $root.sideDistance($data) }, css: { active: $root.sideDistance() === $data }, attr: { id: 'control-distance' + $root.stripDistanceDecimal($data) }"></button>
                <!-- /ko -->
            </div>
        </div>
    </div>
    <!--Speed-->
    <div class="feed-panel btn-group">
        <div class="feed-panel-slider">
            <input type="number" data-bind="enable: controlState.isOperational() && loginState.isUser(), slider: {min: 50, max: 150, step: 1, value: sidefeedRate, tooltip: 'hide'}">
        </div>
        <div class="feed-panel">
            <button class="btn btn-block" data-bind="enable: controlState.isOperational() && loginState.isUser(), click: function() { $root.sendFeedRateCommand() }">{{ _('Feed:') }}<span data-bind="text: sidefeedRate() + '%'"></span></button>
        </div>
    </div>
    <!--Feed-->
    <div class="flow-panel btn-group" >
        <div class="flow-panel-slider">
            <input type="number" data-bind="enable: controlState.isOperational() && loginState.isUser(), slider: {min: 50, max: 150, step: 1, value: sideflowRate, tooltip: 'hide'}">
        </div>
        <div class="flow-panel">
            <button class="btn btn-block" data-bind="enable: controlState.isOperational() && loginState.isUser(), click: function() { $root.sendFlowRateCommand() }">{{ _('Flow:') }}<span data-bind="text: sideflowRate() + '%'"></span></button>
        </div>
    </div>
    <!--Fan-->
    <div class="fan-panel btn-group" >
        <div class="fan-panel-slider">
            <input type="number" data-bind="enable: controlState.isOperational() && loginState.isUser(), slider: {min: 0, max: 255, step: 1, value: sideFanPwm, tooltip: 'hide'}">
        </div>
        <div class="fan-panel">
            <button class="btn btn-block" data-bind="enable: controlState.isOperational() && loginState.isUser(), click: function() { $root.sendFanCommand() }">{{ _('Fan:') }}<span data-bind="text: sideFanPerc()"></span></button>
            <button class="btn btn-block" data-bind="enable: controlState.isOperational() && loginState.isUser(), click: function() { $root.sendFanOffCommand() }">{{ _('Fan Off') }}</button>
        </div>
    </div>
    <!--Motors-->
    <div class="motors-panel btn-group" >
        <div class="motors-panel">
            <!--empty div placeholder maybe for a motors on button in the future-->
        </div>
        <div class="motors-panel">
            <button class="btn btn-block" data-bind="enable: controlState.isOperational() && loginState.isUser(), click: function() { $root.sendMotorsOffCommand() }">{{ _('Motors Off') }}</button>
         </div>
    </div>
    <!--<h1> Filament </h1>-->
    <div class="tool-panel"> 
        <h1> </h1>
        <div class="input-append input-prepend">
            <div class="btn-group">
                <button class="btn" data-bind="attr: { title: 'Retract' }, enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendRetractCommand() }"><i class="fa fa-arrow-up"></i></button>
                <button class="btn dropdown-toggle" data-toggle="dropdown" data-bind="enable: controlState.isOperational() && !controlState.isPrinting() && !controlState.isPaused() && loginState.isUser()">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" data-bind="foreach: controlState.tools">
                    <li><a href="#" data-bind="click: $root.sendSelectToolCommand, text: name(), enable: $root.controlState.isOperational() && !$root.controlState.isPrinting() && !$root.controlState.isPaused() && $root.loginState.isUser()"></a></li>
                </ul>
                
            </div>
            <input type="number" class="input-mini text-right" data-bind="value: sideExtrusionAmount, enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), attr: {placeholder: settings.printer_defaultExtrusionLength}">
            <span class="add-on">mm</span>
            <button class="btn" data-bind="attr: { title: 'Extrude' }, enable: controlState.isOperational() && !controlState.isPrinting() && loginState.isUser(), click: function() { $root.sendExtrudeCommand() }"><i class="fa fa-arrow-down"></i></button>
        </div><!--/input append-->
    </div> <!--/extruder-->
    <h1> </h1>
    <!--print pause cancel-->
    <div class="row-fluid print-control" style="display: none;" data-bind="visible: loginState.isUser">
        <button class="btn btn-primary span4" data-bind="click: printerState.print, enable: printerState.enablePrint, css: {'btn-danger': printerState.isPaused()}, attr: {title: printerState.titlePrintButton}" id="job_print"><i class="fa" data-bind="css: {'fa-print': !printerState.isPaused(), 'fa-undo': printerState.isPaused()}"></i> <span data-bind="text: (printerState.isPaused() ? '{{ _('Restart') }}' : '{{ _('Print') }}')">{{ _('Print') }}</span></button>
        <button class="btn span4" id="job_pause" data-bind="click: function() { printerState.isPaused() ? onlyResume() : onlyPause(); }, enable: printerState.enablePause, css: {active: printerState.isPaused()}, attr: {title: printerState.titlePauseButton}"><i class="fa" data-bind="css: {'fa-pause': !printerState.isPaused(), 'fa-play': printerState.isPaused()}"></i> <span data-bind="visible: !printerState.isPaused()">{{ _('Pause') }}</span><span data-bind="visible: printerState.isPaused()">{{ _('Resume') }}</span></button>
        <button class="btn span4" id="job_cancel" data-bind="click: printerState.cancel, enable: printerState.enableCancel" title="{{ _('Cancels the print job') }}"><i class="fa fa-stop"></i> {{ _('Cancel') }}</button>
    </div>
</div><!--/side-panel-container-->



