<div class="table-row">
    <div class="file-td">
        Status<br>
        Filename<br>
        ETA<br>
        Progress bar<br>
    </div>
    <div class="temperature-td">
            temperature graph goes here
        </div>
</div>
<div class="webcam">
    webcam goes here
</div>